# Tuple  Day -- 04

In [1]:
t=(40,57,54,7894,4555)

In [2]:
type(t)   #tells type

tuple

In [3]:
t.count(40) #count of a particular element

1

In [4]:
t.index(54) #index of a particular element

2

In [5]:
t[0:3] #accesing

(40, 57, 54)

#  Set

In [6]:
h={70,56,48,899}

In [7]:
type(h)

set

In [8]:
h.remove(70) #removes a particular element

In [9]:
h

{48, 56, 899}

In [10]:
g={78,56,66}

In [11]:
h.difference(g)  #difference between the 2 sets

{48, 899}

In [12]:
g.difference(h)

{66, 78}

In [13]:
h.intersection(g)  #finds out the common element in the sets

{56}

In [14]:
g.intersection(h)

{56}

In [15]:
h.union(g) #combines the all elemnts removes the duplicate values

{48, 56, 66, 78, 899}

In [16]:
g.union(h)

{48, 56, 66, 78, 899}

In [17]:
g.difference(h) #take only the values purely from set g

{66, 78}

In [18]:
h.difference(g)  #take only the values purely from set h

{48, 899}

In [19]:
h.symmetric_difference(g) #find out the symmetric difference

{48, 66, 78, 899}

In [20]:
a=(50,70,80,90)
a
type(a)

tuple

In [21]:
d=list(a)   #we could not directly add the elements directly so firstly we need to convert it into lists anthen we can modify them

In [22]:
d

[50, 70, 80, 90]

In [23]:
d.append(60) #appending elements

In [24]:
d

[50, 70, 80, 90, 60]

In [25]:
a=tuple(d)   #again convert the list into the tuplee

In [26]:
a

(50, 70, 80, 90, 60)

In [27]:
a=int(input("Enter mark 1: "))    
b=int(input("Enter mark 2: "))    
c=int(input("Enter mark 3: "))    
average=((a+b+c)/3)
print("The average is : ",average)
if(average>=90):
    print("Grade:A")
elif(80>= average >= 89):
    print("Grade:B")
elif(70>= average >= 79):
    print("Grade:C")
else:
    print("Grade: Fail")

Enter mark 1:  90
Enter mark 2:  80
Enter mark 3:  70

The average is :  80.0
Grade: Fail