#  DAY-08

In [1]:
# Syntax for creating a function

def functionname(parameter):
    # block of code
    return output

In [2]:
def calArea(r):
    a=3.148*r*r
    return a

# Calling the function
calArea(78)

19152.432

In [3]:
w=calArea(66)
w

13712.688

In [4]:
type(w)

float

In [5]:
def d_to_inr(x):  #function to transfer the dollar to indian currency
    print(x*85)
d_to_inr(87)

7395

In [6]:
def d_to_inr(x):  #function to transfer the dollar to indian currency
    return x*85
d_to_inr(87)

7395

In [7]:
a=d_to_inr(98)
type(a)

int

In [8]:
def aor(l,w):
    area=l*w
    return area
aor(83,66)

5478

In [9]:
aor(98,'India')

'IndiaIndiaIndiaIndiaIndiaIndiaIndiaIndiaIndiaIndiaIndiaIndiaIndiaIndiaIndiaIndiaIndiaIndiaIndiaIndiaIndiaIndiaIndiaIndiaIndiaIndiaIndiaIndiaIndiaIndiaIndiaIndiaIndiaIndiaIndiaIndiaIndiaIndiaIndiaIndiaIndiaIndiaIndiaIndiaIndiaIndiaIndiaIndiaIndiaIndiaIndiaIndiaIndiaIndiaIndiaIndiaIndiaIndiaIndiaIndiaIndiaIndiaIndiaIndiaIndiaIndiaIndiaIndiaIndiaIndiaIndiaIndiaIndiaIndiaIndiaIndiaIndiaIndiaIndiaIndiaIndiaIndiaIndiaIndiaIndiaIndiaIndiaIndiaIndiaIndiaIndiaIndiaIndiaIndiaIndiaIndiaIndiaIndia'

In [10]:
def area(radius,length,width):
    aoc=3.14*radius*radius #area of circle
    aor=length*width #area of rectangle
    return [aoc,aor] #If you store in [] it displays as list if not indicated anything it stores as tuple
#If you save it in the form of {} it will save in set

In [11]:
area(45,56,89)

[6358.500000000001, 4984]

In [12]:
type(area)
#Function returns the output as tuple

function

In [13]:
d=area(90,67,54)
d

[25434.000000000004, 3618]

In [14]:
type(d)

list

In [15]:
d[0]

25434.000000000004

In [16]:
aor,aoc=area(10,20,5)
print(aor,aoc)

314.0 100

In [17]:
def area(radius,length,width):
    aoc=3.14*radius*radius #area of circle
    aor=length*width #area of rectangle
    return {'Area Of Rect':aoc,'Area of Circle':aor}

In [18]:
d=area(87,65,24)

In [19]:
type(d)

dict

In [20]:
d

{'Area Of Rect': 23766.66, 'Area of Circle': 1560}

In [21]:
t='Hyderabad 500008 Telangana'
t

'Hyderabad 500008 Telangana'

In [22]:
 #This is the function defined to find out the number of words and alphabets in x or provided t
def count_num_alpha(x): 
    c=0
    d=0
    for i in x:
        if i.isalpha():
            c+=1
        elif i.isnumeric():
            d+=1
    return {'Number of alphabetics':c,'Number of digits':d}
x='Telangana 65682737 Hyderabad'
count_num_alpha(x)

{'Number of alphabetics': 18, 'Number of digits': 8}

In [23]:
count_num_alpha(t)

{'Number of alphabetics': 18, 'Number of digits': 6}

In [24]:
def remove_num(x): 
    c = 0
    d = 0
    new_string = ""

    for i in x:
        if i.isalpha():
            c += 1
            new_string += i
        elif i.isnumeric():
            d += 1

    return {
        'Number of alphabetics': c,
        'Number of digits': d,
        'String without digits': new_string
    }

x = 'Telangana 65682737 Hyderabad'
result = remove_num(x)

print(result)

{'Number of alphabetics': 18, 'Number of digits': 8, 'String without digits': 'TelanganaHyderabad'}

In [25]:
def remove_num(x): 
    c=0
    d=0
    e=""
    for i in x:
        if i.isalpha():
            c+=1
            e+=i
        elif i.isnumeric():
            d+=1
    return {'Number of alphabetics':c,'Number of digits':d,'Numbers are removed then':e}
x='Telangana 65682737 Hyderabad'
remove_num(x)

{'Number of alphabetics': 18,
 'Number of digits': 8,
 'Numbers are removed then': 'TelanganaHyderabad'}