# Day-06

### Conditional statements

####  if condition1:
     task1
#### elif condition2:
     task2
#### elif condition3:
     task3
#### else:
    task4

In [1]:
#Code to check whetther the given number is a even or odd

x=int(input("Enter a number: "))
if x%2 == 0:
    print("Even number")
else:
    print("Odd number")

Enter a number:  2

Even number

In [2]:
x%2==0

True

In [3]:
5%2==0

False

In [4]:
y='india'
y

'india'

In [5]:
y.isalpha()  # Function checks whether the input given is a alphabet or not  
            # This method is strictly used for only Strings and not for any other data types

True

In [6]:
y1='india123'
y1.isalpha()

False

In [7]:
name='John98675'
name.isalpha()

False

In [8]:
name1=str(input("Enter your name in Upper case: "))

# Program to check whether the input is exactly name or not

if name1.isalpha()==True:
    print('Accept the name for re-evaluation')
else:
    print('Name should no contain Digits or special characters')

Enter your name in Upper case:  JOHN

Accept the name for re-evaluation

In [9]:
name1

'JOHN'

In [10]:
name1.lower()  # Makes the text to lower-case

'john'

In [11]:
name1.upper() # Makes the text to the Upper-case

'JOHN'

In [12]:
bool(name1.lower)  #checks whether the provided input is lower or not

True

In [13]:
bool(5894)

True

In [14]:
x='Telangana'
x

'Telangana'

In [15]:
x='Mumbai'

In [16]:
x='maharashtra'

In [17]:
x='telangana'

In [18]:
x

'telangana'

In [19]:
x=str(input('Enter the Word: '))
if x.lower().startswith('m' or 'M'):  #  startswith method to check the start 
    print("word starts with m")
else:
    print("It does not start with m")

Enter the Word:  Mumbai

word starts with m

In [20]:
x=str(input('Enter the Word: '))
if x[0]=='m' or x[0]=='M':    #simple condition to check whether the word starts with m or M
    print("word starts with m or M")
else:
    print("It does not start with m")

Enter the Word:  Goa

It does not start with m

In [21]:
x=str(input("Enter the Word: "))

if x[0].lower() == 'm' or x[0].lower() == 's' or x[0].lower() == 'h':
    print("Yes")
else:
    print("It does not start with m,h,s")

Enter the Word:  Hyderabad

Yes

In [22]:
if x[0].lower()in ('m','h','s'):
    print("Yes")
else:
    print("No")

Yes

In [23]:
word=str(input("Enter the word: "))
if word !=0:
    print("The starting letter is:",word[0])

Enter the word:  Happy

The starting letter is: H