1. Load and Explore the Data
Load the sales_data.csv file using Pandas.
Display the first 5 rows of the dataset.
Print basic statistics (mean, median, min, max, etc.) of the numerical columns using .describe().

In [2]:
import numpy as np
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression
from sklearn.metrics import mean_squared_error, r2_score
import seaborn as sns
import matplotlib.pyplot as plt

In [10]:
#Load the sales_data.csv file using Pandas.
df=pd.read_csv("C:/Users/SAMSUNG FOR BUSINESS/Downloads/sales_data.csv")

In [5]:
df.head()

         Date Product Region    Sales  Profit  Quantity
0  2023-01-02  Tablet   East  1061.81  236.12         7
1  2023-01-06  Laptop  North  1926.07  246.34         8
2  2023-01-03  Tablet   East  1597.99  253.17         3
3  2023-01-20  Tablet  North  1397.99  242.23         1
4  2023-01-04  Laptop   West   734.03  140.36         4

In [8]:
#Print basic statistics (mean, median, min, max, etc.) of the numerical columns using .describe()
df.describe()

             Sales      Profit   Quantity
count    20.000000   20.000000  20.000000
mean   1186.553000  211.533000   5.050000
std     461.528444   66.916251   2.543826
min     530.880000   82.160000   1.000000
25%     774.517500  166.515000   2.750000
50%    1104.865000  214.670000   5.000000
75%    1571.080000  248.047500   7.250000
max    1954.860000  364.970000   9.000000

2. Data Analysis
Calculate the total sales for each region.
Find the most sold product (based on quantity).
Compute the average profit margin for each product. (Profit margin = Profit / Sales * 100)

In [14]:
# Calculate the total sales for each region
total_sales_by_region = df.groupby('Region')['Sales'].sum()
print("### Total Sales by Region:")
display(total_sales_by_region)

# Find the most sold product (based on quantity)
most_sold_product = df.groupby('Product')['Quantity'].sum().idxmax()
print("\n### Most Sold Product:")
print(most_sold_product)

# Compute the average profit margin for each product
df['Profit Margin (%)'] = (df['Profit'] / df['Sales']) * 100
average_profit_margin_by_product = df.groupby('Product')['Profit Margin (%)'].mean()
print("\n### Average Profit Margin by Product:")
display(average_profit_margin_by_product)

### Total Sales by Region:

Region
East      5818.93
North    10449.68
South      936.84
West      6525.61
Name: Sales, dtype: float64

### Most Sold Product:
Tablet

### Average Profit Margin by Product:

Product
Keyboard      20.080696
Laptop        17.112734
Monitor       15.134989
Smartphone    23.703647
Tablet        19.955758
Name: Profit Margin (%), dtype: float64